* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	padding: 2rem;
	background-color: #a8a8a8;
}

body {
	background-color: beige;
	font-family: 'Roboto Mono';

}

h1 {
	text-align: center;
	
}

#para1 {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	
}

