* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	padding: 1.5rem;
	background-color: #a8a8a8;
}

body {
	background-color: beige;
	font-family: 'Roboto Mono';

}

h1 {
	text-align: center;
	padding: 5px;
	
}

#para1 {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	
}

#row {
	background-colour: beige;

}

.nav-row {
	background-color: rgb(1, 1, 77);
}

#navbar {
	padding:10px;
	width: 100%;

	background-color: #a8a8a8;
}

.nav {
	padding-right: 25px;	
	padding-left: 25px;
	padding-top:10px;	
	padding-bottom:10px;

	font-family: 'Roboto Mono';
	color:white;
	font-size:15px;
	text-align: center;
	background-color:rgb(1, 1, 77);
	text-decoration: none;
	border-radius: 0px;

	transition: 0.25s;
}

.nav:hover {
	background-color:rgb(143, 202, 199);
	/* font-weight: bold; */
	color: white;
	border-radius: 5px;
	/* font-size:16px; */
	text-decoration: none;

	transform: scale(1.1);

	transition: 0.25s;

	padding-bottom: 15px;
}

.active {
	background-color:rgb(143, 202, 199);
	/* font-weight: bold; */
	color: white;
	border-radius: 5px;
	/* font-size:16px; */
	text-decoration: none;

	transform: scale(1.1);

	padding-bottom: 15px;

}
